body {
  background-color: #565b5e;
  color: #c7c7c7;
  font-family: 'Lucida Console', Monaco, monospace;
  margin: 0;
}
button,
select {
  color: #c7c7c7;
  background-color: #333639;
  border: 1px solid #5b6268;
  border-radius: 5px;
  padding: 10px;
}
select:hover,
button:hover {
  background-color: #5b6268;
  color: #e5e5e5;
  cursor: pointer;
}
option {
  background-color: #5b6268;
  color: #e5e5e5;
}
option:checked {
  background-color: #333639;
  color: #c7c7c7;
}

/*#############  HEADER & MENU  #############*/
#app {
  background-color: #333639;
}
#title {
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 10px;
}
#currentGraph {
  display: inline;
  font-weight: normal;
  font-size: 0.8em;
  color: #889988;
  padding-left: 10px;
  height: 20px;
}
#message {
  display: inline;
  position: absolute;
  right: 0;
  font-weight: normal;
  font-size: 0.8em;
  padding-right: 10px;
  height: 20px;
}
#message.info {
  color: #889988;
}
#message.error {
  color: #df6767;
}
#message.warning {
  color: #e8cc5f;
}
#message.success {
  color: #63c563;
}

#menu {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menuitem {
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
.menuToggle {
  position: absolute;
  left: 0;
  border: none;
  border-top: 1px solid #5b6268;
  border-radius: 0px;
  background-color: #333639bd;
  color: #889988;
  padding: 5px;
}

/*#############  MENU TRAY  #############*/
/* .tray {
  width: 100%;
} */
#layouts > select {
  width: 120px;
  margin-left: 10px;
}
#graphs > select {
  width: 200px;
  margin-left: 10px;
}
.deleteGraph {
  color: #c9bebe;
  background-color: #3d3335;
  border: 1px solid #6d555b;
}

/*#############  CYTOSCAPE  #############*/
#cy {
  border-top: 1px solid #a3a7ab;
  width: 100%; /* Viewport width */
  height: 100%; /* Viewport height */
  display: block;
  position: fixed; /* or 'absolute' if you prefer */
  overflow: hidden;
  z-index: -1; /* Ensures it stays behind other content */
}

/*#############  TRACER & DEBUG  #############*/
.devButtons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.devButtons > button {
  width: 120px;
  margin: 10px;
  color: #bbb15c;
  border-color: #bbb15c;
  background-color: #3c3931;
}
.devButtons > button:hover {
  color: #e1ddbb;
  border-color: #e6dd99;
  background-color: #47463b;
  cursor: pointer;
}
#tracer {
  position: absolute;
  right: 0;
  align-items: center;
  border-top: 1px solid #5b6268;
  background-color: #333639bd;
  color: #ffffff;
  padding: 5px;
  width: 50%;
}
#tracerModel_0 {
  width: 99%;
  margin: 10px 0px;
}
#tracerSettingsContainer {
  margin-bottom: 5px;
}
input#tracerSlider_0 {
  margin-bottom: 10px;
}
textarea {
  background-color: #333639;
  color: #889988;
}
